@import '../../../vars.css';

.technologies {
    margin-bottom: 100px;
}

.container {
    color: var(--color-text);
    margin: 8rem auto 1rem auto;
    width: 80%;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    font-family: var(--font-roboto);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    padding: 5px;
}

.techItems {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.carouselContainer {
    padding: 5rem;
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.carouselContainer .carousel {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 11);
}

.carouselContainer .carouselItem {
    display: flex;
    width: 150px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.carouselContainer .carouselItem img {
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 11));
    }
}

@media screen and (max-width: 830px) {
    .container {
        width: 90%;
        margin-bottom: 0;
    }

    .techItems {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        list-style: none;
        padding: 0;
    }

    .techItemText {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .techItemText h3 {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 5px;
        font-size: 17px;
        font-weight: 400;
    }

    .techItemText p {
        font-size: 15px;
        text-align: start;
    }
}
