@import '../../vars.css';

.navbar {
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin: 0 22%;
    width: 100%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    padding-bottom: 5px;
}

.menuButton {
    display: none;
}

.menu {
    display: flex;
    box-shadow: 0 4px 6px #000000b3;
    padding: 5px 20px;
    border-radius: 15px;
    margin-top: 25px;
    height: 40px;
    transform: translate(-50%);
    background: #13151a59;
    backdrop-filter: blur(4px);
    opacity: 1;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.menuItems li {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.menuItems li:hover {
    opacity: 1;
}

.menuItems li:not(:hover) {
    opacity: 0.5;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems li div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.menuItems li div {
    position: relative;
}

.menuItems li div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
}

.menuItems li div:hover::after {
    transform: scaleX(1);
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        width: 75%;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: sticky;
        left: -2;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
        /* margin-top: 80px; */
    }

    .menuButton {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(
            0deg,
            rgba(25, 55, 109, 0.2) 0%,
            rgba(25, 55, 109, 1) 100%
        );
        /*     padding: 24px 33px; */
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
        /* width: 80vh; */
        margin-top: 150px;
    }
}
