@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;

    gap: 10px;
    border-top: #32323c solid;
}

.container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -25px;
}

.linkable {
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.link div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1030px) {
    .container ul {
        display: flex;
        flex-direction: row;
        gap: 23px;
    }
    .links {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .link a {
        color: var(--color-text);
        text-decoration: none;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: -25px;

        font-size: 10px;
    }
}

@media screen and (max-width: 830px) {
    .container ul {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    .links {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: center;
    }

    .link a {
        color: var(--color-text);
        text-decoration: none;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: -25px;
        gap: 10px;
        font-size: 10px;
    }
}
