:root {
    /* colors */
    --color-text: #fff;
    --color-text-secondary: #bababa;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #212121;

    /* fonts */
    --font-roboto: 'Roboto';
    --font-Raleway: 'Raleway';
}
